<div id="_yDrawer">
  <div id="_sidebar" class="sidebar">
    <div class="sidebar-bg"
     style="background-color:{{ color }};
            background-image:linear-gradient(rgba(16,85,102,.15), rgba(0,0,0,.85)),
                             url({{ image }});
            background-size: cover;"></div>
    <header class="sidebar-sticky" role="banner">

     <img src="{{ '/' | relative_url }}assets/img/UCSanDiegoLogo-White.png" alt="UC San Diego logo" width="400" height="76">

      <div class="sidebar-about">
        <h1><a id="_title" href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        {{ site.description | truncatewords:50 | markdownify }}
      </div>

      <nav class="sidebar-nav heading" role="navigation">
        {% include nav.html %}
      </nav>

      {% assign author = site.data.authors.first[1] | default:site.author %}

      {% if author.social or site.github_username or site.twitter_username %}
        <div class="sidebar-social">
          {% include social.html social=author.social %}
        </div>
      {% endif %}
    </header>
  </div>
</div>
